page-session-list {
  .ion-item-sliding {
     border-left: 4px solid #2196F3;
     padding-left: 10px;
  }
  .ion-item-sliding-perso {
      border-left: 4px solid #FF5722;
      padding-left: 10px;
  }
}
